html {
	background-color: #333;
	color: white;
	height 100%;
}

body {
  padding: 0px;
  margin: 0px
}

.body-wrapper {
  min-height: 100vh;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
}

footer {
	min-height: 100px;
  background-color: #444
}

#footer-content {
	padding: 16px;
}

header {
	font-size: 30px;
	padding 8px;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a.active{
	border-bottom: 3px solid red;
}

.twitter-timeline {
	float: right;
	max-height: 600px;
}