

@main("Theory") {
<p>
	<i>
		Education is free.
		Freedoom of education shall be enjoyed under the condition fixed by law
		and under the supreme control of the state
	</i>
</p>
<h2>Basics</h2>
<p>
	A simple guide on where to begin on understanding left values. It is recommended to
	read these short works, before participating in the community.
</p>
<ul>
	<li><a href="https://www.marxists.org/archive/marx/works/download/pdf/value-price-profit.pdf">
		Value, Price and Profit
	</a></li>
	<li><a href="https://marxists.architexturez.net/ebooks/lenin/state-and-revolution.pdf">
		The State and Revolution
	</a></li>
	<li><a href="https://www.marxists.org/archive/marx/works/download/pdf/Manifesto.pdf">
		Manifesto of the Communist Party
	</a></li>
</ul>
<h2>The most holy work</h2>
<ul>
	<li>
		<a href="https://www.marxists.org/archive/marx/works/download/pdf/Capital-Volume-I.pdf">
			Das Kapital (Volume 1)
		</a>
		<a href="https://www.marxists.org/archive/marx/works/download/pdf/Capital-Volume-II.pdf">
			(Volume 2)
		</a>
		<a href="https://www.marxists.org/archive/marx/works/download/pdf/Capital-Volume-III.pdf">
			(Volume 3)
		</a>
	</li>
</ul>
<h2>Further reading</h2>
<ul>
	<li><a href="https://www.marxists.org/archive/lenin/works/1916/imp-hsc/imperialism.pdf">
		Imperialism, the Highest Stage of Capitalism
	</a></li>
	<li><a href="https://www.marxists.org/archive/lenin/works/download/what-itd.pdf">
		What is to be Done?
	</a></li>
	<li><a href="https://www.marxists.org/reference/archive/stalin/works/1938/09.htm">
		Dialectical and Historical Materialism
	</a></li>
</ul>
<h2>Modern works</h2>
<ul>
	<li><a href="https://libcom.org/files/Capitalist%20Realism_%20Is%20There%20No%20Alternat%20-%20Mark%20Fisher.pdf">
		Capitalist Realism: Is There No Alternative?
	</a></li>
	<li><a href="https://eastsidemarxism.files.wordpress.com/2017/04/michael-parenti-blackshirts-and-reds-rational-fascism-and-the-overthrow-of-communism.pdf">
		Blackshirts and Reds: Rational Fascism and the Overthrow of Communism
	</a></li>
	<li><a href="https://www.marxists.org/reference/subject/philosophy/works/it/negri.htm">
		The Informatisation of Production
	</a></li>
</ul>
<p>
	It's worth reminding that this is in no way an exhaustive list of works on
	leftist theory. The world has seen countless great minds, writing books about
	the subject, both before and after Karl Marx himself.
	If you are still left with questions after reading the works listed above,
	don't hesitate to
	ask for help from the community! <a href="/community">Hascord</a> is home to many of the most trained
	marxists of our time, who will be glad to give you further guidence.
</p>
}