@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/hasraidSmall.png")">
	</head>
	<body>
    <div class="body-wrapper">
    <header>
      <a href="/">Main</a>
      <a href="/stream">Stream</a>
      <a href="/community">Community</a>
      <a href="/art">Art</a>
      <a href="/merch">Merch</a>
      <a href="/theory">Theory</a>
      <a href="/login">Login</a>
    </header>
    @content
    </div>
    <footer>
      This website is created and maintained by the proletariat. Hasan Piker or
      other capital owners of the hasanabi brand may or maynote endorse this website.
    </footer>

    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript">

    </script>
	</body>
</html>
